
<h1 id="main_title">Events Dashboard</h1>
<%= button_to 'Create an event', new_event_path, method: :get, class: 'btn btn-large btn-success' %>
<div id="content">
	<div class="my_events">
		<h3>My Events</h3>
		<table class="table table-striped">
		<tr class="my_row">
			<th>Event</th>
			<th>Event Name</th>
			<th>Date and time</th>
			<th>Event Address</th>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#">Best from the west<a></td>
			<td>Sunday March 15, 2011 @ 3:00p.m.</td>
			<td>840 Washington Park, Sunnyvale,CA 94043</td>
		</tr>
		<tr>
			<td>2</td>
			<td><a href="#">Best from the west</a></td>
			<td>Sunday March 15, 2011 @ 3:00p.m.</td>
			<td>840 Washington Park, Sunnyvale,CA 94043</td>
		</tr>
		<tr>
			<td>3</td>
			<td><a href="#">Best from the west</a></td>
			<td>Sunday March 15, 2011 @ 3:00p.m.</td>
			<td>840 Washington Park, Sunnyvale,CA 94043</td>
		</tr>
		</table>
	</div>
	<div class="events_joined">
		<h3>Events I've joined</h3>
		<table class="table table-striped">
		<tr>
			<th>Event</th>
			<th>Event Name</th>
			<th>Date and time</th>
			<th>Event Address</th>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#">Best from the west</a></td>
			<td>Sunday March 15, 2011 @ 3:00p.m.</td>
			<td>840 Washington Park, Sunnyvale,CA 94043</td>
		</tr>
		<tr>
			<td>2</td>
			<td><a href="#">Best from the west</a></td>
			<td>Sunday March 15, 2011 @ 3:00p.m.</td>
			<td>840 Washington Park, Sunnyvale,CA 94043</td>
		</tr>
		<tr>
			<td>3</td>
			<td><a href="#">Best from the west</a></td>
			<td>Sunday March 15, 2011 @ 3:00p.m.</td>
			<td>840 Washington Park, Sunnyvale,CA 94043</td>
		</tr>
		</table>
	</div>
	<div class="invited_events">
		<h3>Events I've been invited</h3>
		<table class="table table-striped">
		<tr>
			<th>Event</th>
			<th>Event Name</th>
			<th>Date and time</th>
			<th>Event Address</th>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#">Best from the west</a></td>
			<td>Sunday March 15, 2011 @ 3:00p.m.</td>
			<td>840 Washington Park, Sunnyvale,CA 94043</td>
		</tr>
		<tr>
			<td>2</td>
			<td><a href="#">Best from the west</a></td>
			<td>Sunday March 15, 2011 @ 3:00p.m.</td>
			<td>840 Washington Park, Sunnyvale,CA 94043</td>
		</tr>
		<tr>
			<td>3</td>
			<td><a href="#">Best from the west</a></td>
			<td>Sunday March 15, 2011 @ 3:00p.m.</td>
			<td>840 Washington Park, Sunnyvale,CA 94043</td>
		</tr>
		</table>
	</div>
</div>
