<div id="" class="container">

		<form class="form-horizontal" method="post">
	    	<fieldset>
		    	<h3>Create Event</h3>
		        <!-- Address form -->

		        <!-- event name input-->
		        <div class="control-group">
		            <label class="control-label">Event Name</label>
		            <div class="controls">
		                <input id="event_name" name="event_name" type="text" placeholder="event name" class="input-xlarge">
		                <p class="help-block"></p>
		            </div>
		        </div>

		        <!-- event description input-->
		        <div class="control-group">
		            <label class="control-label">Description</label>
		            <div class="controls">
		                <input id="description" name="description" type="text" placeholder="description" class="input-xlarge">
		                <p class="help-block"></p>
		            </div>
		        </div>

		        <!-- event location input-->
		        <div class="control-group">
		            <label class="control-label">Location</label>
		            <div class="controls">
		                <input id="location" name="location" type="text" placeholder="location" class="input-xlarge">
		                <p class="help-block"></p>
		            </div>
		        </div>

		        <!-- address-line1 input-->
		        <div class="control-group">
		            <label class="control-label">Address</label>
		            <div class="controls">
		                <input id="address-line1" name="address-line1" type="text" placeholder="address"
		                class="input-xlarge">
		                <p class="help-block"></p>
		            </div>
		        </div>

		        <!-- city input-->
		        <div class="control-group">
		            <label class="control-label">City</label>
		            <div class="controls">
		                <input id="city" name="city" type="text" placeholder="city" class="input-xlarge">
		                <p class="help-block"></p>
		            </div>
		        </div>

		        <!-- state input-->
		        <div class="control-group">
		            <label class="control-label">State</label>
		            <div class="controls">
		                <input id="state" name="region" type="text" placeholder="state"
		                class="input-xlarge">
		                <p class="help-block"></p>
		            </div>
		        </div>

		        <!-- postal-code input-->
		        <div class="control-group">
		            <label class="control-label">Zip Code</label>
		            <div class="controls">
		                <input id="zip-code" name="zip-code" type="text" placeholder="zip code"
		                class="input-xlarge">
		                <p class="help-block"></p>
		            </div>
		        </div>

		        <!-- date input-->
		        <div class="control-group">
		            <label class="control-label">Date</label>
		            <div class="controls">
		                Start: <input id="date" name="date" type="date" class="input-xlarge">
		                End: <input id="date" name="date" type="date" class="input-xlarge">
		                <p class="help-block"></p>
		            </div>
		        </div>

		        <!-- time input-->
		        <div class="control-group">
		            <label class="control-label">Time</label>
		            <div class="controls">
		                Starts: <input id="Time" name="Time" type="Time" class="input-xlarge">
		                Ends: <input id="Time" name="Time" type="Time" class="input-xlarge">
		                <p class="help-block"></p>
		            </div>
		        </div>

		        <!-- interest select -->
		        <div class="control-group">
		            <label class="control-label">Interest</label>
		            <div class="controls">
		                <select id="interest" name="country" class="input-xlarge">
		                    <option value="" selected="selected">(please select interest)</option>
		                    <option value="bball">Basketball</option>
		                    <option value="base">Baseball</option>
		                    <option value="pong">Ping Pong</option>
		                    <option value="tenn">Tennis</option>
		                    <option value="socc">Soccer</option>
		                    <option value="fish">Fishing</option>
		                    <option value="hike">Hiking</option>
		                    <option value="foot">Football</option>
		                    <option value="badm">Badminton</option>
		                    <option value="rock">Rock Climbing</option>
		                </select>
		            </div>
		        </div>
		    </fieldset>
		</form>
	</div><!--end div-->