<div class="span4">
  <table class="table">
    <thead>
      <tr>
        <th>Interest Name</th>
      </tr>
    </thead>
    <tbody>
      <% @interests.each do |interest| %>
        <tr>
          <td><%= link_to interest.name, interest_path(interest) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>



